.menu {
  position: absolute;
  background-color: #fff;
  box-shadow: 0 0 5px #d2d2d2;
  z-index: 1000;
  inset: unset !important;
  transform: translate(-65px, 10px) !important;
  width: 100px;
}

@media screen and (min-width: 768px) {
  .menu {
    transform: translate(0, 10px) !important;
  }
}
